* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001e6c;
  text-align: center;
}

main {
  background-color: aliceblue;
  width: 40%;
  padding: 2rem 2rem;
  margin: 2rem auto;
  border: solid black;
  border-width: 5px;
}
.welcome-screen {
  height: auto;
}
img {
  width: 90%;
  max-width: 50%;
  margin: 3rem auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2.5rem;
}
h3 {
  font-size: 1rem;
}
.event-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem 1rem;
}
button {
  margin: 0.5rem auto;
  padding: 1.8rem;
  color: white;
  background-image: linear-gradient(#001e6c, #035397);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.15rem;
  font-family: Sans;
  width: 59%;
}
button:hover {
  box-shadow: 0 1px 0 1px #032322;
}
#button-child {
  background: linear-gradient(#673fd7, #673fd7);
}

/* // User Play area  */

.user-guess {
  font-size: 20px;
  margin-bottom: 2rem;
}

.user-guess input {
  padding: 2rem 4rem;
  border-style: none;
  background-color: transparent;
  margin-top: 2rem;
  font-size: 15px;
}

#guess-result {
  margin: 30px;
  text-align: left;
  margin: 1.2rem auto;
}

#guess-result .attempts {
  font-size: 1.1rem;
  color: red;
}

.info {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  margin-bottom: 2rem;
}

#event-screen {
  height: auto;
  /* margin-top: 50px; */
}

/* // Responsive */

@media (max-width: 480px) 
  {
  h2 {
    font-size: 21px;
    margin-top: 1rem;
  }

  main {
    width: 100%;
    border-width: 5px;
    margin: 0;
  }
  img {
    max-width: 67%;
  }
  button {
    width: 82%;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .user-guess input {
    padding: 1.2rem 1rem;
    text-align: center;
  }

  h3 {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
  }
  .info {
    flex-direction: column;
  }

  #guess-result .attempts {
    margin-top: 9px;
  }
}
